<!DOCTYPE html>
{% load static %}
<html>
 
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'study_record/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>編集、削除</title>
</head>
<body style="background-color: rgb(70, 103, 131);">
    <nav class="navbar navbar-expand navbar-dark" style="padding-left: 10px; padding-right: 10px;">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                <i class="fa fa-pencil" style="font-size:36px; margin-right: 20px !important;"></i>
                </li>
                <li class="nav-item">
                <a class="nav-link" id="home" href="{% url 'main' %}">ホーム</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="edit" href="{% url 'edit_and_delete' %}">追加/編集</a>
                    </li>
                <li class="nav-item">
                <a class="nav-link" id="record" href="{% url 'detail' %}">詳細</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" id="wordlists" href="{% url 'vocabulary' %}">暗記</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="friends" href="{% url 'friends' %}">友達</a>
                </li>
            </ul>
            <a href="{% url 'logout' %}" class="nav-item btn btn-outline-secondary ml-auto loginPage" style="margin-left: auto;" type="submit">ログアウト</a>
        </div>
    </nav>
    <div class = "container-fluid" style="margin-top:20px;">
        <div class = "row">
            <div class="col-6" style="text-align: center;">
                <div style="text-align: center;">
                    <h4>追加する</h4><hr/>
                </div>
                <div style="text-align: center;">
                    <form method="POST" action="">
                        {% csrf_token %}
                    <div>
                        <b>{{ form.subject.label }}</b>　{{ form.subject }}
                    </div>
                    <div>
                        <b>{{ form.start.label }}</b>　{{ form.start }}
                    </div>
                    <div>
                        <b>{{ form.end.label }}</b>　{{ form.end }}
                    </div>
                    <input class="btn btn-primary"  type="submit" value="登録" name="register">
                    {% if alerts.alert1 %}
                        <div style="color:red">開始時刻よりも終了時刻が先になっています。</div>
                    {% endif %}
                    {% if alerts.alert2 %}
                        <div style="color:red">24時間以上の勉強記録をまとめて登録することはできません。</div>
                    {% endif %}
                    {% if alerts.alert3 %}
                        <div style="color:red">他の勉強記録と重複しています。</div>
                    {% endif %}
                    {% if alerts.alert4 %}
                        <div style="color:red">勉強内容を入力してください。</div>
                    {% endif %}
                </div>
            </div>
            <div class="col-6">
                <div style="text-align: center;">
                    <h4>編集・削除</h4><hr/>
                </div>
                <div>
                    {% for record in records %}
                    <div style="display: flex;
                    align-items: center;
                    justify-content: center;">
                        <span style="margin-right: 4px;">科目：{{ record.subject }}<br>開始時刻：{{ record.start }}<br>終了時刻：{{ record.end }}</span>
                        <input type="submit" value="編集" class="btn btn-primary" style="margin-left: 2px;margin-right: 2px;" name="edit{{record.pk}}">
                        <input type="submit" value="削除" class="btn btn-primary" style="margin-left: 2px;margin-right: 2px;" name="delete{{record.pk}}">
                    </div>
                    <br>
                    {% endfor %}
                    </form>
                </div> 
            </div>
        </div>
    </div>
</body>

<style>
    .RecordBox {
        position: fixed;
        box-sizing: content-box;
        height: calc(100% - 100px);
        width: 50%;
        overflow-y: scroll;
    }

    .box {
        background-color: #dcdcdc;
        height: 60px;
    }

    .current-page {
        color: #000000;
        margin-left: 20px;
        margin-top: 16px;
        float: left;
    }

    a:hover {
        color: #000000;
        text-decoration: none;
    }

    .other-page {
        color: #808080;
        margin-left: 20px;
        margin-top: 16px;
        float: left;
    }

    .right {
        color: #808080;
        float: right;
        margin-right: 20px;
        margin-top: 16px;
    }
    #edit{
        color:white;
    }
</style>
</html>
